
.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  /*overflow: hidden;*/
  top: 0;
  align-items: center;
  background: #f1f1f1;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
  z-index: 9999;
}

.topnav {
  position: relative;
  top: 10%;
  margin-left: 30%;
  overflow: hidden;
  background-color: #f1f1f1;
  z-index: 9990;
}
  
  .topnav a {
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    float: left;
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    z-index: 9980;
  }
  
  .topnav a:hover {
    background-color: #333;
    color: #f1f1f1;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      overflow: hidden;
      display: block;
      text-align: left;
    }
  }