<web-app>

    <servlet>
        <servlet-name>Servlet_1</servlet-name>
        <servlet-class>Servlet_1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_1</servlet-name>
        <url-pattern>/Servlet_1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_2</servlet-name>
        <servlet-class>Servlet_2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_2</servlet-name>
        <url-pattern>/Servlet_2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet_3</servlet-name>
        <servlet-class>Servlet_3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet_3</servlet-name>
        <url-pattern>/Servlet_3</url-pattern>
    </servlet-mapping>

    

</web-app>